<ion-header>
  <ion-toolbar>

    <!--Close New Diary Page without saving diary-->
    <ion-button (click)="closeNewDiary()" slot="start" fill="clear">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>

    <ion-title style="text-align: center">New Diary</ion-title>

    <!--Save and close New Diary Page-->
    <ion-button (click)="saveNewDiary()" slot="end" fill="clear">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
    
  </ion-toolbar>
</ion-header>

<!--Write diary-->
<ion-content>

  <!--Choose date (Default: Current date)-->
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat = "DD MMM YYYY" [(ngModel)] = "date" placeholder = "Select Date"></ion-datetime>
  </ion-item>

  <!--Rate mood-->
  <ion-item>
    <ion-label position = "stacked" style = "font-size: 17px" mode = "ios">Today's Mood</ion-label>
    <ion-range min = "0" max = "10" snaps = "true" ticks = "true" color = "secondary" value = "mood" [(ngModel)] = "mood">
      <ion-icon size = "medium" slot = "start" name = "sad-outline"></ion-icon>
      <ion-icon size = "medium" slot = "end" name = "happy-outline"></ion-icon>
    </ion-range>
  </ion-item>

  <!--Select location and write name of location-->
  <ion-item>
    <ion-icon name = "footsteps-outline" (click) = "showMap()" style = "padding-right: 0.5em"></ion-icon>
    <ion-input inputmode = "text" placeholder = "Place" name = "place" [(ngModel)] = "place"></ion-input>
  </ion-item>

  <!--Write diary-->
  <ion-item>
    <ion-textarea inputmode = "text" spellcheck = "true" rows = "7"
                  placeholder = "Hey! How was your day?" autogrow = "true" 
                  [(ngModel)] = "diary"></ion-textarea>
  </ion-item>

  <!--Select and save images for diary-->
  <ion-item>
    <input #fileInput type = "file" accept = "image/*" (change) = "imageSelected(fileInput.files)" multiple>
    <ion-button (click) = "clearImages()" fill = "clear">CLEAR</ion-button>
  </ion-item>

  <!--Display selected images-->
  <ion-item>
    <ul id = "preview" style = "list-style-type:none; padding:0.5em"></ul>
  </ion-item>

</ion-content>
